Repository JustaKris/Are-You-Not-Entertained: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Path conditions:
  pages: any of: mkdocs.yml, docs/**/*, pyproject.toml, .gitlab/jobs/docs.yml
  Lint Python: any of: src/**/*, tests/**/*, pyproject.toml
  Lint Markdown: any of: docs/**/*.md, *.md, pyproject.toml
  Security Scan: any of: src/**/*, pyproject.toml
  Type Check: any of: src/**/*, pyproject.toml

Mkdocs style updates and Actions reports cleanup
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
  docs/stylesheets/extra.css
  mkdocs.yml
Due: pages

Adjusting precommit as per copilot suggestion
  .pre-commit-config.yaml
Due: none

feat(collection): improve refresh pacing and progress reporting
  .env.example
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  src/ayne/cli/collect.py
  src/ayne/cli/main.py
  src/ayne/cli/numbers.py
  src/ayne/cli/omdb.py
  src/ayne/cli/progress.py
  src/ayne/cli/tmdb.py
  src/ayne/core/config/settings.py
  src/ayne/core/logging.py
  src/ayne/data_collection/api_usage.py
  src/ayne/data_collection/orchestrator.py
  src/ayne/data_collection/the_numbers/client.py
  src/ayne/data_collection/tmdb/client.py
  tests/unit/test_progress.py
  tests/unit/test_tmdb_client.py
Due: Lint Python, Security Scan, Type Check

docs: document database and collection workflows
  README.md
  data/README.md
  docs/ROADMAP.md
  docs/development/testing.md
  docs/guides/cli-guide.md
  docs/guides/data-collection-workflow.md
  docs/guides/database-monitoring.md
  docs/index.md
  docs/reference/database.md
  docs/reference/rate-limiting.md
Due: pages, Lint Markdown

feat(collection): complete provider-aware data foundation
  .gitignore
  README.md
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  docs/guides/cli-guide.md
  docs/guides/data-collection-workflow.md
  docs/reference/data-collection-filtering.md
  docs/reference/orchestration.md
  docs/reference/rate-limiting.md
  docs/reference/refresh-strategy.md
  docs/reference/tmdb-client.md
  src/ayne/cli/collect.py
  src/ayne/cli/numbers.py
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
  src/ayne/core/config/settings.py
  src/ayne/data_collection/omdb/client.py
  src/ayne/data_collection/orchestrator.py
  src/ayne/data_collection/rate_limiter.py
  src/ayne/data_collection/refresh_strategy.py
  src/ayne/data_collection/the_numbers/client.py
  src/ayne/data_collection/tmdb/client.py
  tests/unit/test_database_foundation.py
  tests/unit/test_refresh_strategy.py
  tests/unit/test_the_numbers.py
  tests/unit/test_tmdb_client.py
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

mypy fix
  tests/unit/test_the_numbers.py
  tests/unit/test_tmdb_client.py
Due: Lint Python

docs: align tracked database policy
  .gitignore
  README.md
  data/README.md
  docs/guides/cli-guide.md
Due: pages, Lint Markdown

Docs cards styling
  docs/index.md
Due: pages, Lint Markdown

Roadmap updates
  docs/ROADMAP.md
Due: pages, Lint Markdown

Introducing substeps to step 2 for easie progression
  docs/ROADMAP.md
Due: pages, Lint Markdown
