Repository JustaKris/Are-You-Not-Entertained: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, Lint Python, Lint Markdown, Security Scan, Type Check

pages:
  stage: deploy
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-docs
    paths:
    - .venv/
  before_script:
  - echo "Installing documentation dependencies with uv..."
  - uv sync --group docs
  script:
  - echo "Building MkDocs documentation..."
  ...

Lint Python:
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  variables:
    LINT_PATHS: src/ tests/
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-lint
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  - echo "Running ruff linting..."
  ...

Lint Markdown:
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-markdown
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  - echo "Running markdown linting on documentation..."
  ...

Security Scan:
  stage: security
  needs:
  - Type Check
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-security
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  ...

Type Check:
  stage: type-check
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-typecheck
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  - echo "Running type checking with mypy..."
  ...

refactor: migrate from Black to Ruff formatter and enhance linting rules
  .github/workflows/python-lint.yml
  .pre-commit-config.yaml
  docs/development/code-style.md
  docs/development/formatting.md
  docs/development/linting.md
  notebooks/02_movies_EDA.ipynb
  pyproject.toml
  scripts/test_utilities.py
  src/ayne/__init__.py
  src/ayne/cli/collect.py
  src/ayne/cli/omdb.py
  src/ayne/cli/omdb_old.py
  src/ayne/cli/tmdb.py
  src/ayne/cli/tmdb_old.py
  src/ayne/cli/validate.py
  src/ayne/core/config/__init__.py
  src/ayne/core/config/config_loader.py
  src/ayne/core/config/settings.py
  src/ayne/core/exceptions.py
  src/ayne/core/logging.py
  src/ayne/data_collection/__init__.py
  src/ayne/data_collection/omdb/__init__.py
  src/ayne/data_collection/omdb/client.py
  src/ayne/data_collection/omdb/models.py
  src/ayne/data_collection/omdb/normalizers.py
  src/ayne/data_collection/orchestrator.py
  src/ayne/data_collection/rate_limiter.py
  src/ayne/data_collection/refresh_strategy.py
  src/ayne/data_collection/tmdb/__init__.py
  src/ayne/data_collection/tmdb/client.py
  src/ayne/data_collection/tmdb/models.py
  src/ayne/data_collection/tmdb/normalizers.py
  src/ayne/database/duckdb_client.py
  src/ayne/ml/models/serialize.py
  src/ayne/utils/io.py
  src/ayne/utils/plotting.py
  src/ayne/utils/query_utils.py
  uv.lock
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

fix: correct pymarkdown configuration syntax in pyproject.toml
  pyproject.toml
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

fix: remove explicit --config flag from markdown linting workflow
  .github/workflows/markdown-lint.yml
  pyproject.toml
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Restoring comments in linting setup
  pyproject.toml
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

docs: update development docs from TV-HML to AYNE project
  .github/workflows/docs.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-typecheck.yml
  .github/workflows/security-audit.yml
  docs/development/code-style.md
  docs/development/formatting.md
  docs/development/linting.md
  docs/development/logging.md
  docs/development/security.md
  docs/development/testing.md
  docs/guides/pre-commit-guide.md
Due: pages, Lint Markdown

Format issues
  docs/development/logging.md
  docs/development/security.md
  docs/development/testing.md
Due: pages, Lint Markdown

Improving readabiility and adding additioonal data
  notebooks/case_studies/01_furiosa_mad_max_saga.ipynb
Due: none

Fix for GitHub not displaying charts
  notebooks/01_movies_data_full_imputation.ipynb
  notebooks/case_studies/01_furiosa_mad_max_saga.ipynb
  pyproject.toml
  uv.lock
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Second attempt
  notebooks/case_studies/01_furiosa_mad_max_saga.ipynb
Due: none

Furiosa reality v expectations
  notebooks/case_studies/01_furiosa_mad_max_saga.ipynb
Due: none

Barbenhaimer
  notebooks/case_studies/02_barbenheimer.ipynb
Due: none

barbenheimer
  notebooks/case_studies/02_barbenheimer.ipynb
Due: none

Dark mode for case study notebooks
  notebooks/case_studies/01_furiosa_mad_max_saga.ipynb
  notebooks/case_studies/02_barbenheimer.ipynb
  src/ayne/utils/plotting.py
Due: Lint Python, Security Scan, Type Check

Docs and the numbers placeholders cleanup
  docs/copilot_artifacts/CONFIG_MIGRATION_GUIDE.md
  docs/copilot_artifacts/CONFIG_MIGRATION_SUMMARY.md
  docs/copilot_artifacts/CONFIG_QUICKSTART.md
  docs/copilot_artifacts/DATA_COLLECTION_REFACTORING.md
  docs/copilot_artifacts/DATA_GUIDE.md
  docs/copilot_artifacts/DATA_MODERNIZATION_SUMMARY.md
  docs/copilot_artifacts/MIGRATION_CHECKLIST.md
  docs/copilot_artifacts/MIGRATION_SUMMARY.md
  docs/copilot_artifacts/MODERNIZATION_PLAN.md
  docs/copilot_artifacts/OPTIMIZED_DATA_COLLECTION.md
  docs/copilot_artifacts/PATH_CONFIGURATION_MIGRATION.md
  docs/copilot_artifacts/QUICK_REFERENCE_COLLECTION.md
  docs/copilot_artifacts/QUICK_START_GUIDE.md
  docs/copilot_artifacts/REFACTORING_SUMMARY.md
  docs/copilot_artifacts/RUNNING_SCRIPTS.md
  docs/copilot_artifacts/TECHNICAL_DECISIONS.md
  src/ayne/cli/omdb_old.py
  src/ayne/cli/tmdb_old.py
  src/ayne/data_collection/the_numbers/parser.py
  src/ayne/data_collection/the_numbers/scraper.py
  tests/placeholder_test.py
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Configs fix and removal of outdated dependency
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  pyproject.toml
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Docs linting and references updates
  data/README.md
  docs/guides/cli-guide.md
  docs/guides/vs-code/vscode-configuraqtion.md
  docs/guides/vs-code/vscode-quickstart.md
  notebooks/01_movies_data_full_imputation.ipynb
Due: pages, Lint Markdown

Fixes and The Numbers implementation prep
  .github/workflows/python-tests.yml
  src/ayne/cli/db.py
  src/ayne/core/config/config_loader.py
  src/ayne/core/config/settings.py
  src/ayne/data_collection/api_usage.py
  src/ayne/data_collection/refresh_strategy.py
  src/ayne/database/duckdb_client.py
  src/ayne/database/schema.sql
  tests/unit/test_api_usage.py
  tests/unit/test_refresh_strategy.py
Due: Lint Python, Security Scan, Type Check

Potential fix for pull request finding
  src/ayne/data_collection/refresh_strategy.py
Due: Lint Python, Security Scan, Type Check

Potential fix for pull request finding
  src/ayne/core/logging.py
Due: Lint Python, Security Scan, Type Check

Potential fix for pull request finding
  src/ayne/data_collection/orchestrator.py
Due: Lint Python, Security Scan, Type Check

Fixing initialization bug
  src/ayne/core/logging.py
Due: Lint Python, Security Scan, Type Check

Updating project python version
  .github/workflows/python-lint.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-typecheck.yml
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
  docs/development/formatting.md
  docs/development/linting.md
  docs/guides/vs-code/vscode-configuraqtion.md
  pyproject.toml
  uv.lock
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Pre-commit rework
  .github/workflows/docs.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-typecheck.yml
  .github/workflows/security-audit.yml
  .gitignore
  .pre-commit-config.yaml
  configs/development.yaml
  docs/ROADMAP.md
  docs/development/formatting.md
  docs/development/linting.md
  docs/development/markdown-linting.md
  docs/development/testing.md
  docs/guides/pre-commit-guide.md
  docs/guides/vs-code/vscode-configuraqtion.md
  docs/guides/vs-code/vscode-quickstart.md
  pyproject.toml
  uv.lock
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

CI suite enhancement
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-typecheck.yml
  .github/workflows/security-audit.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  README.md
  docs/development/formatting.md
  docs/development/linting.md
  docs/development/logging.md
  docs/development/markdown-linting.md
  docs/development/testing.md
  docs/guides/cli-guide.md
  docs/guides/pre-commit-guide.md
  docs/reference/data-collection-filtering.md
  mkdocs.yml
  pyproject.toml
  src/ayne/__init__.py
  uv.lock
Due: pages, Lint Python, Lint Markdown, Security Scan, Type Check

Small file formatting updates
  docs/guides/data-collection-quick-reference.md
  docs/reference/data-collection-workflow.md
  docs/reference/omdb-client.md
  docs/reference/refresh-strategy.md
Due: pages, Lint Markdown

docs: overhaul project documentation
  README.md
  data/README.md
  docs/development/code-quality.md
  docs/development/code-style.md
  docs/development/formatting.md
  docs/development/linting.md
  docs/development/logging.md
  docs/development/markdown-linting.md
  docs/development/security.md
  docs/development/testing.md
  docs/explanation/architecture.md
  docs/explanation/technical-decisions.md
  docs/guides/cli-guide.md
  docs/guides/data-collection-quick-reference-cli.md
  docs/guides/data-collection-quick-reference.md
  docs/guides/data-collection-workflow.md
  docs/guides/database-monitoring.md
  docs/guides/git-guide.md
  docs/guides/pre-commit-guide.md
  docs/guides/utilities-guide.md
  docs/guides/vs-code/vscode-configuraqtion.md
  docs/guides/vs-code/vscode-configuration.md
  docs/guides/vs-code/vscode-quickstart.md
  docs/index.md
  docs/reference/architecture.md
  docs/reference/data-collection-filtering.md
  docs/reference/data-collection-workflow.md
  docs/reference/database.md
  docs/reference/omdb-client.md
  docs/reference/orchestration.md
  docs/reference/rate-limiting.md
  docs/reference/refresh-strategy.md
  docs/reference/tmdb-client.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: pages, Lint Markdown

Dependabot update to work with uv
  .github/dependabot.yml
  docs/development/security.md
Due: pages, Lint Markdown

Actions version updates
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/security-audit.yml
Due: none

Pretty!
  README.md
Due: Lint Markdown

Updating Actions reports with added information
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/security-audit.yml
Due: none

Path conditions:
  pages: any of: mkdocs.yml, docs/**/*, pyproject.toml, .gitlab/jobs/docs.yml
  Lint Python: any of: src/**/*, tests/**/*, pyproject.toml
  Lint Markdown: any of: docs/**/*.md, *.md, pyproject.toml
  Security Scan: any of: src/**/*, pyproject.toml
  Type Check: any of: src/**/*, pyproject.toml
