Repository JustaKris/Are-You-Not-Entertained: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint Python, Lint Markdown, Security Scan, Type Check

Lint Python:
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  variables:
    LINT_PATHS: src/ tests/
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-lint
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  - echo "Running ruff linting..."
  ...

Lint Markdown:
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-markdown
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  - echo "Running markdown linting on documentation..."
  ...

Security Scan:
  stage: security
  needs:
  - Type Check
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-security
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  ...

Type Check:
  stage: type-check
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv-typecheck
    paths:
    - .venv/
  before_script:
  - echo "Installing dependencies with uv..."
  - uv sync --group dev
  script:
  - echo "Running type checking with mypy..."
  ...

Pushing legacy version of the project for reference
  README.md
Due: Lint Markdown

Linting, formatting and CI/CD updates
  .github/workflows/docs.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-typecheck.yml
  .github/workflows/security-audit.yml
  .gitlab/jobs/docs.yml
  docs/development/formatting.md
  docs/development/linting.md
  scripts/collect_optimized.py
  scripts/init_database.py
  scripts/test_database.py
  scripts/test_query_utils.py
  scripts/validate_notebook_setup.py
  src/__init__.py
  src/core/__init__.py
  src/core/config/__init__.py
  src/core/config/config_loader.py
  src/core/config/settings.py
  src/core/exceptions.py
  src/core/logging.py
  src/data/query_utils.py
  src/data_collection/__init__.py
  src/data_collection/omdb/__init__.py
  src/data_collection/omdb/client.py
  src/data_collection/omdb/models.py
  src/data_collection/omdb/normalizers.py
  src/data_collection/orchestrator.py
  src/data_collection/rate_limiter.py
  src/data_collection/refresh_strategy.py
  src/data_collection/the_numbers/parser.py
  src/data_collection/the_numbers/scraper.py
  src/data_collection/tmdb/__init__.py
  src/data_collection/tmdb/client.py
  src/data_collection/tmdb/models.py
  src/data_collection/tmdb/normalizers.py
  src/database/__init__.py
  src/database/duckdb_client.py
  src/utils/__init__.py
  src/utils/utils.py
  tests/placeholder_test.py
Due: Lint Python, Lint Markdown, Security Scan, Type Check

Naming changes for rest of jobs
  .github/workflows/docs.yml
  .github/workflows/markdown-lint.yml
Due: none

Python 3.13 not working
  .github/workflows/python-lint.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-typecheck.yml
  pyproject.toml
Due: Lint Python, Lint Markdown, Security Scan, Type Check

Some details on the docs deployment failure
  .github/workflows/docs.yml
Due: none

More docs!
  docs/reference/data-collection-workflow.md
  docs/reference/omdb-client.md
  docs/reference/refresh-strategy.md
  mkdocs.yml
Due: Lint Markdown

Adjusting headings
  docs/reference/tmdb-client.md
Due: Lint Markdown

Linting fix
  README.md
  uv.lock
Due: Lint Markdown

A bit of cleanup
  .gitignore
  .markdownlint.json
Due: none

Linting and formatting
  docs/guides/vs-code/vscode_configuraqtion.md
  docs/guides/vs-code/vscode_quickstart.md
  docs/reference/data-collection-workflow.md
  docs/reference/tmdb-client.md
  scripts/collect_optimized.py
  scripts/init_database.py
  scripts/test_database.py
  scripts/test_query_utils.py
  src/ayne/ml/models/__init__.py
  src/ayne/utils/io.py
  src/ayne/utils/query_utils.py
Due: Lint Python, Lint Markdown, Security Scan, Type Check

Format: ruff auto-format scripts/test_utilities.py; exclude scripts/ from bandit in pre-commit config
  .pre-commit-config.yaml
Due: none

feat: Complete CLI migration with Typer framework
  .env.example
  CLI_MIGRATION_STATUS.md
  README.md
  configs/README.md
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  docs/guides/cli-guide.md
  docs/guides/data-collection-quick-reference-cli.md
  docs/guides/data-collection-quick-reference.md
  docs/index.md
  docs/reference/data-collection-filtering.md
  docs/reference/data-collection-workflow.md
  mkdocs.yml
  pyproject.toml
  scripts/collect_optimized.py
  scripts/init_database.py
  scripts/test_database.py
  scripts/validate_filtering_config.py
  src/ayne/cli/collect.py
  src/ayne/cli/db.py
  src/ayne/cli/main.py
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
  src/ayne/cli/validate.py
  src/ayne/core/config/config_loader.py
  src/ayne/core/config/settings.py
  src/ayne/data_collection/orchestrator.py
  src/ayne/data_collection/tmdb/client.py
  uv.lock
Due: Lint Python, Lint Markdown, Security Scan, Type Check

fix: Resolve ruff format and bandit issues in scripts
  pyproject.toml
Due: Lint Python, Lint Markdown, Security Scan, Type Check

fix: Correct database queries in CLI to use proper table joins
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
Due: Lint Python, Security Scan, Type Check

Changed line to make ruff happy
  scripts/test_utilities.py
Due: none

Fix security scan configuration and add timeout to requests
  .github/workflows/security-audit.yml
  pyproject.toml
  src/ayne/data_collection/the_numbers/scraper.py
Due: Lint Python, Lint Markdown, Security Scan, Type Check

Fix unlimited movie enrichment and reorganize config files
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  src/ayne/cli/tmdb.py
Due: Lint Python, Security Scan, Type Check

feat: add database monitoring notebook with enrichment tracking
  notebooks/database_monitoring.ipynb
  src/ayne/utils/query_utils.py
Due: Lint Python, Security Scan, Type Check

feat: make refresh limits configurable via settings
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
  src/ayne/core/config/settings.py
Due: Lint Python, Security Scan, Type Check

refactor: unify limit settings to use max_movies for all operations
  configs/development.yaml
  configs/production.yaml
  configs/staging.yaml
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
  src/ayne/core/config/settings.py
Due: Lint Python, Security Scan, Type Check

fix: resolve SQL syntax errors in query_utils and notebook; format code per linting standards
  notebooks/database_monitoring.ipynb
  src/ayne/cli/tmdb.py
  src/ayne/utils/query_utils.py
Due: Lint Python, Security Scan, Type Check

Renamed db exploration notebook
  notebooks/00_database_monitoring.ipynb
Due: none

refactor: modernize data imputation notebook to sklearn best practices
  notebooks/01_movies_data_full_imputation.ipynb
Due: none

fix: handle all-NaN columns in IterativeImputer
  notebooks/01_movies_data_full_imputation.ipynb
Due: none

fix(refresh): Fix OMDB quota handling and add data source filtering
  configs/development.yaml
  docs/reference/omdb-client.md
  docs/reference/refresh-strategy.md
  scripts/audit_refresh_logic.py
  scripts/check_omdb_count.py
  scripts/restore_timestamps.py
  scripts/test_refresh_logic.py
  scripts/verify_omdb_save.py
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
  src/ayne/core/exceptions.py
  src/ayne/data_collection/omdb/client.py
  src/ayne/data_collection/orchestrator.py
  src/ayne/data_collection/refresh_strategy.py
Due: Lint Python, Lint Markdown, Security Scan, Type Check

Added error handling for API rate limits and user cancellations in OMDB and TMDB clients
  notebooks/database/00_database_monitoring.ipynb
  src/ayne/cli/omdb.py
  src/ayne/cli/tmdb.py
  src/ayne/core/exceptions.py
  src/ayne/data_collection/omdb/client.py
  src/ayne/data_collection/orchestrator.py
  src/ayne/data_collection/tmdb/client.py
Due: Lint Python, Security Scan, Type Check

Adding plotting dark mode utilities for notebooks and cleaning depricated file
  src/ayne/utils/plotting.py
  src/ayne/utils/utils-depreciated.py
Due: Lint Python, Security Scan, Type Check

More plot formatting configuration
  notebooks/database/00_database_monitoring.ipynb
  src/ayne/utils/plotting.py
Due: Lint Python, Security Scan, Type Check

Ran notebook fully this time
  notebooks/database/00_database_monitoring.ipynb
Due: none

Path conditions:
  Lint Python: any of: src/**/*, tests/**/*, pyproject.toml
  Lint Markdown: any of: docs/**/*.md, *.md, pyproject.toml
  Security Scan: any of: src/**/*, pyproject.toml
  Type Check: any of: src/**/*, pyproject.toml
